#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200 [cite: 183]
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25 [cite: 183]

#include <input/processors.dtsi> [cite: 183]
#include <zephyr/dt-bindings/input/input-event-codes.h> [cite: 183]
#include <behaviors.dtsi> [cite: 183]
#include <dt-bindings/zmk/bt.h> [cite: 183]
#include <dt-bindings/zmk/keys.h> [cite: 183]
#include <dt-bindings/zmk/outputs.h> [cite: 183]
#include <dt-bindings/zmk/pointing.h> [cite: 183]
#include <dt-bindings/zmk/rgb.h> [

cite: &mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

[

cite: &msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

[

cite: cite: behaviors {
};

/* Macros: Bracket and quote tools from Jason */

macros {
};

/* Combos from Jason */

combos {
    compatible = "zmk,combos";

    [

    137, = 138]
    };

    /* Keymap Layers from Jason */

    keymap {
        compatible = "zmk,keymap";

        [

        layer_0 {
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3  &kp N4  &kp N5       &kp UP     &kp N6     &kp N7  &kp N8     &kp N9   &kp N9    &kp DEL
&kp TAB    &kp Q   &kp W   &kp E   &kp R   &kp T        &kp DOWN   &kp Y      &kp U   &kp I      &kp O    &kp P     &kp BSLH
&kp LCTRL  &kp A   &kp S   &kp D   &kp F   &kp G        &kp LEFT   &kp H      &kp J   &kp K      &kp L    &kp SEMI  &kp RET
&kp CAPS   &kp Z   &kp X   &kp C   &kp V   &kp B        &kp RIGHT  &kp N      &kp M   &kp COMMA  &kp DOT  &kp FSLH  &trans
&trans     &trans  &trans  &trans  &trans  &kp LSHFT    &kp RET    &kp SPACE  &trans  &trans     &trans   &trans
            >;
        };
    };

    /* Conditional Layers from Jason */

    conditional_layers {
        compatible = "zmk,conditional-layers";

        [cite: 179]
    };
};
